*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    max-width:1320px;
    margin:0 auto;
}
.py-100{
    padding:100px 0;
}
/* root */

:root{
--gutter-width:12px;
}

.row{
    display:flex;
    flex-wrap:wrap;
}

.w-4{
    width:33.33%;
    padding:0 var(--gutter-width);
}


/* card */

.c_img img{
    width:100%;
}

.card{
    border:2px solid lightgrey;
    padding:10px;
}

.head1,.head2,.head3{
    font-size:32px;
    margin:15px;
}

.dsc{
    font-size:20px;
    margin:15px;
    color:dimgrey;
}

.btn1,.btn2,.btn3,.btn4,.btn5,.btn6,.btn7,.btn8,.btn9,.hi1,.hi2,.hi3{
    color:white;
    background-color:darkslategrey;
    padding: 10px 20px;
    margin:10px;
}

#in1,#in2,#in3{
    align-items: center;
    padding:10px 20px;
    margin:10px;
}