*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.container{
    max-width:1320px;
    margin:0 auto;
}

h1{
    text-align:center;
    font-size:40px;
    margin:30px;
    color:cornflowerblue;
}

.ques{
    font-size: 20px;
    margin-bottom:10px;
    padding:10px;
    background-color:rgba(105, 73, 193, 0.276);
    color:black;
  
}

p{
    font-size: 20px;
    margin-bottom:10px;
    padding:10px;
    background-color:white;
    color:black; 
    display:none; 
}

i{
    float: right;
}
.d-none{
    display: none;
}

.d-block{
    display: block;
}